@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thumb-slate-700::-webkit-scrollbar-thumb {
    background-color: rgb(51, 65, 85);
    border-radius: 3px;
  }

  .scrollbar-thumb-slate-700::-webkit-scrollbar-thumb:hover {
    background-color: rgb(71, 85, 105);
  }

  .scrollbar-track-slate-800::-webkit-scrollbar-track {
    background: transparent;
  }
}
